/_Bak/
/Asset/RtrcGenerated/
/Asset/Sample/16.MeshCorefinement/OutputA.off
/Asset/Sample/16.MeshCorefinement/OutputB.off
/Asset/Sample/17.WorkGraph/Output.png
/Asset/Sample/18.ShortestGeodesicPath/Output.off
/Build/
/BuildCMake/
/External/eigen-3.4.0/
/External/microsoft.direct3d.d3d12.1.715.0-preview/
/External/mimalloc/build/
/External/multiprecision-Boost/
/External/llvm16.0.6/build_debug/
/External/llvm16.0.6/build_release/
/External/llvm16.0.6/install_debug/
/External/llvm16.0.6/install_release/
/External/llvm16.0.6/llvm-project-16.0.6.src/
/External/oneapi-tbb-2021.11.0/
/External/tracy-0.11.1/
/Source/Rtrc/ToolKit/OT2D/OT2DImpl.h
/GPUCapture.wpix
*.shader.outh
*.material.outh
*.outh.timestamp
*.outh.depfile