/_Bak/
/Asset/RtrcGenerated/
/Build/
/BuildCMake/
/External/eigen-3.4.0/
/External/mimalloc/build/
/External/multiprecision-Boost/
/External/llvm16.0.6/build_debug/
/External/llvm16.0.6/build_release/
/External/llvm16.0.6/install_debug/
/External/llvm16.0.6/install_release/
/External/llvm16.0.6/llvm-project-16.0.6.src/
/External/oneapi-tbb-2021.11.0/
/Source/Rtrc/ToolKit/OT2D/OT2DImpl.h
/GPUCapture.wpix
*.shader.outh
*.material.outh
*.outh.timestamp
*.outh.depfile